<html>
    <head>
        <title>ImageColony: Registration Confirmation</title>
    </head>
    <body>
        <strong>
            Congratulation,<br/>
            You have successfuly registerd in www.imagecolony.com web site.<br/>
            ImageColony is a crowdsourcing service to identify locations on earth with less<br/>
            Imagery information.<br/><br/>

            your username: {{ user}}<br/><br/>

            Regards.<br/>
            ImageColony Team.</br>
        </strong>
        You have received this message because you have regitered in www.imagecolony.com.<br/>
        You can unsubscribe at any time via this link: http://imagecolony.com/unregister

    </body>
</html>
